.*.swp
*.o
Makefile.bindist
build-stamp
config.cache
config.guess.debsave
config.log
config.status
config.sub.debsave
debian/debhelper.log
debian/files
debian/menu
debian/postinst.debhelper
debian/postrm.debhelper
debian/substvars
debian/tmp/
src/config.h
thrust
thrust.pod
xthrust
config.guess
config.sub
sdlthrust
