Source: thrust
Section: games
Priority: optional
Build-Depends: debhelper, libx11-dev, x11proto-core-dev, libxext-dev, libxt-dev, libsvga1-dev [i386], libnetpbm9-dev, autotools-dev, libsdl1.2-dev
Maintainer: RISKO Gergely <risko@debian.org>
Standards-Version: 3.6.1.1

Package: thrust
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: suidmanager (<< 0.50)
Description: a port of the classic Commodore 64 game
 The object of the game is to lift the Klystron Pod from
 the bottom of a cave and return it safely to space. The
 Pod is very heavy (compared to the ship) and this makes it
 tougher than it may seem.
 .
 You must be careful not to run out of fuel, crash into the
 cave walls, or let the enemy artillery outposts shoot you
 down.
